.spanImage {
    width: 250px;
}

.messagePA {
    color: #63cdeb;
    position: relative;
    margin-top: -20px;
}

.mesesageH {
    color: rgb(54, 155, 244);
    position: relative;
    margin-top: -45px;
    font-style: italic;
}

.modalContentStyles {
    background-color: white;
    padding: 20px 45px 25px 45px;
    border-radius: 10px;
    text-align: center;
}

.buttonStyles {
    padding: 10px 40px;
    background: #e2f7fd;
    color: #528aa7;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    cursor: pointer;
     margin-top: 10px;
}
.spanImage2{
    width: 100px;
}
.errorh{
    color: red;
    font-size: 25px;
    margin-top: 0;
}
.errorp{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    line-height: 10px;
}
.buttonStyle{
    padding: 10px 20px;
  background-color: #f44336;
  color: white;
  font-size :10px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top:20px;

}